{{#images}}
/**
 * Returns the "{{name}}" image.
 */
FOUNDATION_EXTERN {{image-class}}* {{#prefix}}{{prefix}}{{/prefix}}{{#function-prefix}}{{function-prefix}}{{/function-prefix}}{{name}}(void);

{{/images}}